
.page-background {
	background: url(../images/landingpage-image.jpg);
	background-size: cover;
	height: 100vh;
}

#container {
	filter: blur(6px);
}

.cta {
	position: relative;
	top: 40%;
	transform: translateY(-40%);
	background: rgba(0, 0, 0, 0.1);
	padding: 1rem;

}

h2, h1 {
	font-family: 'Pacifico', cursive;
}

.btn-landing {
position: relative;
right: 90%;
}

.home, .about {
	width: 100%;
	height: 100vh;
}

.carousel-item {
	height: 600px;
}

.navbar-brand 	{
	font-family: 'Pacifico', cursive;

}

.nav-link {
	color: #621e3f;
	font-family: 'Lobster Two', cursive;

}

.navbar {
	width: 100%;
	min-width: 100%;
	margin-bottom: 20px;
}

.article {
	width: 1200px;
	height: 780px;
	margin: 0 auto;
	margin-top: 20px;
}

.card {
	float: left;
	min-width: 500px;
	min-height: 650px;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;

}


.btn-home {
	margin-top: 100px;
	font-size: black;
	background-color: #9966FF;
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}

.card-text-header {
 	font-family: 'Lobster Two', cursive;
}

.card-text {
	height: 60px;
}

.card-body {
	overflow: hidden;
}

.about-header {
	margin: 0 auto;
	margin-bottom: 50px;
}

.about-content {
	margin-top: 50px;
	color: #d279a6;

}

.aboutpage {
	width: 1000px;
	height: 780px;
	margin: 0 auto;
	margin-top: 20px;
	border-left-color: #d279a6;
	border-right-color: #d279a6;
	border-left-width: 2px;
	border-right-width: 2px;
}

.gallerypage {
	width: 1000px;
	height: 780px;
	margin: 0 auto;
	margin-top: 20px;
	border-left-color: #d279a6;
	border-right-color: #d279a6;
	border-left-width: 2px;
	border-right-width: 2px;
}

.galleryphoto {
	width: 350px;
	height: 250px;
	min-width: 350px;
	min-height: 250 px;
	margin: 5px 30px 30px 30px;
	padding: 10px 20px 20px 10px;
}

footer {
	width:100%;
	height: 50px;
	background-color: #d279a6;
	font-family: 'Lobster Two', cursive;
	line-height: 50px;
	margin-top: 20px;


}